[Unit]
Description=mercury phone home
After=phone_home_startup.service
Requires=phone_home_startup.service
[Service]
User=mercury
ExecStart=/home/mercury/phone_home.sh
Restart=always
[Install]
WantedBy=multi-user.target
